@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
  --font: "Montserrat" , sans-serif;
  --bg: #26093A;
}

.App {
  text-align: center;
}

.logo {
  height: 16vmin;
  pointer-events: none;
  margin: 5rem;
}

.body {
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font);
} 


.background-box{
  width: 1088px;
  border-radius: 80px;
  background-color: var(--bg);
  height: 1587px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8rem;
}

.title{
  font-size: 36px;
  font-weight: bold;
  text-shadow: -1px 0px 0px #fff, 1px 0px 0px #fff, 0px -1px 0px #fff, 0px 1px 0px #fff;
  color: var(--bg);
  margin-top: 6rem;
  margin-bottom: 0;
}

.icon{
  height: 5rem;
  margin: 5rem;
  animation: 1s minun ease-in-out;
}

.spoilersText{
  height: 9rem;
}

.arrowDown{
  margin-top: 8rem;
  margin-bottom: 6rem;
  height: 2rem;
  animation: 1s jump infinite;
}

.questionBeforeCarousel{
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  margin-top: 0;
}

@keyframes jump {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes minun {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
    transform: translate(0, 3px);
  }
}